body {
    margin: 0 auto;
}
.header {
    background-color: black;
}
#header_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#header_title {
    top: 7%;
    left: 72%;
    position: relative;
    font-size: 200px;
    background: -webkit-linear-gradient(rgba(229,186,48,1), rgba(0,0,0,0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Anton', sans-serif;
    opacity: 0.6;

}
#header_photo {
    position: absolute;
    width: 100vw;
    min-width: 1500px;
    height: auto;
    opacity: 0.7;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
#navbar {
    width: 100%;
    height: 70px;
    background: radial-gradient(circle, rgba(229,186,48,1) 0%, rgb(255, 255, 255) 35%);
    display: flex;
    line-height: 70px;
    z-index: 10;
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
    border: 2px solid rgba(229,186,48, 0.6);
}
#navbar-left {
    width: 35%;
    text-align: right;
}
#navbar a {
    text-decoration: none;
    font-size: 35px;
    margin: 20px;
    cursor: pointer;

}
#navbar a:hover {
    color: rgba(229, 186, 48, 0.8);
}
#navbar-center {
    width: 30%;
    position: relative;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 35px;

}
#navbar-center img {
    width: 25vw;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 2;
    }
#navbar-right {
    width: 35%;
    text-align: left;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
}
.sticky + .home {
  padding-top: 70px;
}
#home_monuments {
    width: 100%;
    height: 1500px;
    background-image: linear-gradient(135deg, rgb(0, 0, 0), rgb(51, 51, 51));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.monument_container {
    margin-top: 50px;
    width: 30vw;
    height: 1000px;
    overflow: hidden;
    border: 4px solid rgba(229, 186, 48, 0.6);
}
.monument {
    background-color: white;
    transition: all 0.4s linear;
}
.monument:hover {
    transform: scale(1.1);
    opacity: 0.6;
}
#monument1 {
    position: relative;
    right: 300px;
    width: 1800px;
}
#monument2 {
    position: relative;
    right: 730px;
}
#monument3 {
    position: relative;
    right: 50px;
    width: 700px;
}